// color palette 

// Color cube
$light: #fefefe;
$lightgrey: #afaeae;
$darkgrey: #6b6b6b;
$darker: #262727;
$lima: #69bf14;
$denim: #1975c0;
$sunglo: #dd7069;
// Median cut
$hippiegreen: #4c8d53;
$mercury: #e9e9e9;
$barleycorn: #9ba05a;
$beaver: #86695a;
$oslogray: #93989b;
// Material design
$riverbed: #4d596a;
$mantis: #8fce53;