// color palette

[data-theme="light"] {
  // Headertop
  --light: #fefefe;
  --lima: #69bf14;

  --bg-headerbot: white;
  --text-headerbot: black;

  --text-gray: #6e6e6e;

  --bg-denim: #1975c0;

  --main-title: #212529;
  --main-h2: #69bf14;
  --main-p: #6e6e6e;

  --bg-mercury: #f1f5f8;

  --bg-service: white;
  --card-text: black;
  --bg-card: white;

  --bg-hippiegreen: #4c8d53;
  --bg-mantis: #8fce53;

  --button-bg: #1975c0;
  --button-hover: #2f8ad5;
 
  --bg-oslogray: #93989b;

}

[data-theme="dark"] {
  --light: #fefefe;
  --lima: #635985;

  --bg-headerbot: white;
  --text-headerbot: black;

  --text-gray: #6e6e6e;

  --bg-denim: #635985;

  --main-title: #e5beec;
  --main-h2: #e3a9ce;
  --main-p: white;

  --bg-mercury: #322e46;

  --bg-service: #dda1c7;
  --card-text: #dfd9ea;
  --bg-card: #917fb3;
  --card-title: #4a3b66 !important;

  --bg-hippiegreen: #917fb3;
  --bg-mantis: #917fb3;

  --button-bg: #4a3b66;
  --button-hover: #7856b7;

  --bg-foot: #917fb3;
  --foot-black: white;

  --bg-oslogray: #93989b;
}
