@use "../styles/partials/_variables.scss" as *;

body {
  background-color: $riverbed;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}

button {
  border-radius: 2rem !important; 
  font-size: 14px !important;
  padding: 0.6rem 1.5rem !important; 
  transition-duration: 0.2s !important;
  border: 0 !important;
}
button:hover{
  background-color: #2f8ad5 !important;
}

h2 {
  color: $lima;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 1rem;
}
