@use "../styles/partials/_variables.scss" as *;

body {
  background-color: rgb(12, 12, 16);
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}

button {
  border-radius: 2rem !important; 
  font-size: 16px !important;
  padding: 0.9rem 1.5rem !important; 
  transition-duration: 0.2s !important;
}
button:hover{
  background-color: #2f8ad5 !important;
}
